#-----------------------------------------------------------------------------
# Config: Test.cfg 
#-----------------------------------------------------------------------------
# Description:
# 					Contains the configuration items for the Test Server
#              Every server must have a configuration file
#              This file contains configuration items that are specific
#              to the server.
#              Note, the core and site configuration files are also read
#-----------------------------------------------------------------------------
# CVS Details
# -----------
# $Author: kerrin $
# $Date: 2003/10/26 13:34:39 $
# $Revision: 1.1 $
#-----------------------------------------------------------------------------

# -------------------------------------------------------------------------
# This section contains required configuration items that Server Base uses
# -------------------------------------------------------------------------

# How long in seconds to sleep each time around the loop
poll_sleep_time=1

# How long the server is allowed in seconds to boot, before we give up
boot_timeout=60

# How long in seconds to sleep each time around the check booted loop
boot_sleep_time=1


# -----------------------------
# Server Specific Config items
# -----------------------------

